body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(90deg, #CACA89FF 0%, #BE775BFF 100%);
}

header {
    background-color: #2f251578;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {

    background-color: #2f251578;
    padding: 0.5em;
    text-align: center;
}

nav a {

    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 1em;
    border-radius: 5px;
    background-color: #2f251578;
}

nav a:hover {

    background-color: #2f251578;
    color: #ff8c8c;
}

section {

    padding: 2em;
}
h1{
    font-size: 5em;
}
h2 {
    font-size: 2.5em;
    color: #2f251578;
}

.menu-item {

    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 0.5em 0;
}

footer {
    background-color: #2f251578;
    color: #fff;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: auto;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height : 100px;
    
}